
 .masthead.segment {

     min-height: 700px;
   }
    
   .masthead h1.ui.header {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
      font-size: 6em;
      font-weight: normal;
    
    }

    .masthead h2.ui.header {
      margin-top: 2em;
      margin-bottom: 0em;
      font-size: 1.5em;
      font-weight: normal;
    }



    .masthead .ui.image
     {
      margin-top: 6.1em;
      margin-left: 5.3em;
      margin-bottom: 0em;
     }

     .masthead div.ui.divider {
      width: 15em;
      height: 0.5em;
      line-height: 10em;
      text-align: center;
     }
     .masthead div.embed {
      max-height: 400px;
      height: 0em;
      margin-top: 6em;
      margin-bottom: -1em;
    }

   .headertop
    {

    padding-top: 5em;
    padding-bottom: 0;
    }


    .logo
    {
    width: 15em;
    height: 15em;
    }

    .stylesvgtop
    {
    width:100%;
    height:100%;
    top:3em;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    fill:#3D9BE9;
    fill-opacity:0;
    stroke:rgba(231, 255, 110, 1);
    stroke-width:0.6em;
    vector-effect:non-scaling-stroke; 
    }

    .stylesvgbottom
    {
    width:100%;
    height:100%;
    top:3em;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    fill:#3D9BE9;
    fill-opacity:0;
    stroke:rgba(1, 1, 1, 1);
    stroke-width:0.6em;
    vector-effect:non-scaling-stroke;
    }


   .stylesvgtop text
   {
   font-size: 5em;
   font-family: sans-serif;
   text-anchor: middle;
   stroke-width:0.05em;
   }

   .stylesvgbottom text 
   {
   font-size: 5em;
   font-family: sans-serif;
   text-anchor: middle;
   stroke-width:0.05em;
   }

